---
import LoadingScreen from "@components/LoadingScreen.astro";
import type { ProjectsEntry, MenuItem } from "@/types";
import EntryLayout from "@components/docs/EntryLayout.astro";
import CollectionLayout from "@components/docs/CollectionLayout.astro";
import getNotionContent from "@lib/notion/getNotionContent";
import getNotionPaths from "@lib/notion/getNotionPaths";
import pathsToTree from "@lib/pathToTree";
import type { TreeNode } from "@lib/pathToTree";

export async function getStaticPaths() {
  const rawPaths = await getNotionPaths("/projects");
  const paths = rawPaths.map((path) => ({
    params: { id: path.path },
  }));
  return paths;
}

const { id = "" } = Astro.params;
const rawPaths = await getNotionPaths("/projects");
const routePaths = await getNotionPaths(`/projects/${id}`);
const routeTree = pathsToTree(routePaths);
const tree = pathsToTree(rawPaths);

let isLeaf = Object.keys(routeTree).length == 1;

let content: ProjectsEntry | null = null;
if (isLeaf) {
  const pagePath = `/projects/${id}`;
  const pageContent = await getNotionContent(pagePath);
  content = {
    id,
    data: {
      title: pageContent.name || "Untitled",
      description: pageContent.description || "",
      imageAlt: "",
      // @ts-ignore
      modDate: pageContent.lastModified,
      // @ts-ignore
      pubDate: pageContent.createdAt,
    },
    body: pageContent.pageContent || "",
    collection: "projects",
  };
}
// const groupEntries =
//   isGroup && typeof currentNode === "object"
//     ? Array.isArray(currentNode)
//       ? currentNode.map((entry) => ({
//           id: id ? `${id}/${entry}` : entry,
//           data: { title: entry },
//         }))
//       : Object.entries(currentNode).map(([key, value]) => ({
//           id: id ? `${id}/${key}` : key,
//           data: { title: key },
//         }))
//     : [];

const buildMenu = (node: TreeNode, parentPath: string = ""): MenuItem[] => {
  if (typeof node === "string") {
    const fullPath = parentPath ? `${parentPath}/${node}` : node;
    return [
      {
        title: node,
        id: fullPath,
        children: [],
      },
    ];
  }

  return Object.entries(node).flatMap(([key, value]) => {
    const fullPath = parentPath ? `${parentPath}/${key}` : key;
    return [
      {
        title: (value as any)["name"],
        id: fullPath,
        children: buildMenu(value, fullPath),
      },
    ];
  });
};

const treeToEntries = (tree: TreeNode, parentPath: string = ""): any[] => {
  if (typeof tree === "string") {
    return [
      {
        id: parentPath ? `${parentPath}/${tree}` : tree,
        data: { title: tree },
      },
    ];
  }

  return Object.entries(tree).flatMap(([key, value]) => {
    if (key == "") {
      return [];
    }
    const fullPath = parentPath ? `${parentPath}/${key}` : key;
    return [
      {
        id: fullPath,
        data: {
          title: (value as any)["name"] || key,
        },
      },
    ];
  });
};

const browserMenu = buildMenu(tree);
const entries = treeToEntries(routeTree, id);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
  </head><view-transitions-style></view-transitions-style>
  <view-transitions-style></view-transitions-style>

  <body>
    <LoadingScreen />
    {
      isLeaf ? (
        <EntryLayout
          entry={content}
          browserMenu={browserMenu}
          collection="projects"
        />
      ) : (
        <CollectionLayout
          collectionIndex={{
            id: id || "projects",
            // @ts-ignore
            data: { title: id || "Projects" },
          }}
          entries={entries}
          collection="projects"
        />
      )
    }
  </body>
</html>

<!-- { -->
<!--   isGroup ? ( -->
<!--     <CollectionLayout -->
<!--       collectionIndex={{ -->
<!--         id: id || "projects", -->
<!--         data: { title: id || "Projects" }, -->
<!--       }} -->
<!--       entries={groupEntries} -->
<!--       collection="projects" -->
<!--     /> -->
<!--   ) : ( -->
<!--     <EntryLayout -->
<!--       entry={{ -->
<!--         id, -->
<!--         data: { -->
<!--           title: content?.name || "Untitled", -->
<!--           description: content?.description || "", -->
<!--           autodescription: false, -->
<!--           draft: false, -->
<!--           imageAlt: "", -->
<!--           hideToc: false, -->
<!--           hideNav: false, -->
<!--         }, -->
<!--         body: content?.pageContent || "", -->
<!--       }} -->
<!--       browserMenu={browserMenu} -->
<!--       collection="projects" -->
<!--     /> -->
<!--   ) -->
<!-- } -->
